// navbar 和footer  通用版

/* 全版通用Logo清單 */
.header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // border: 1px solid red;
  }
}

.navbar {
  // border: 1px solid red;
  width: 220px;
  a {
    // border: 1px solid red;
    color: $kuro;
    font-size: 24px;
    font-weight: 600;
  }
}

// ---------------------------------------------------
// ---------------------------------------------------
// 漢堡選單
// .header {
  // border: 1px solid red;
  // position: relative;
  //  position: relative;是為了固定漢堡選單的而設定的相對定位
// }

// 選單三槓槓樣式
.menu_btn {
  position: absolute; //position: absolute;固定選單位置

  display: block;
  width: 40px;
  height: 40px;

  color: black;
  background-color: $main_color;
  border-radius: 20px;
  // border: 1px solid blue;

  // top: 5px;
  right: 15px;

  display: none; //一般時候隱藏
  @media (max-width: 768px) {
    display: block;
    right: 25px;
  }

  span {
    opacity: 0; // opacity: 0; 文字隱藏
    width: 1px;
    height: 1px;
    display: block;
    overflow: hidden;
  }

  &::before {
    //偽元素來增加樣式
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;

    height: 2px;
    width: 20px;

    background-color: whitesmoke;
    margin: auto;
    box-shadow: 0px 8px 0px whitesmoke, 0px -8px 0px whitesmoke; //用來增加樣式
  }
}

// input控制器
// #menu_control:checked ~ .Navbar nav
// 『 ~ 』這個選取器，它會選擇所有.Navbar nav，只要他們是在 #menu_control:checked 之後

//藉由點擊所寫的這個checked 觸發 那串被我們隱藏的 左為0(也就是顯現躲起來那些東西)
// 路徑要寫對  在control 同層 header menu(那串隱藏的東西)  這邊想了一陣子
#menu_control:checked ~ .header .menu {
  left: 0;
}

#menu_control {
  position: absolute;
  z-index: -2;
  opacity: 0; //checkbox 的控制器隱藏
}

// 不超過767  包裹那串menu 的小細項 .link 他要躲起來到最左看不到的地方
//然後小於767 他們不能像電腦版橫向 要轉成直的 因此寫 inline
// 若要改排版就改寫什麼top:0 然後寬度100 等等  文字置中 變成從上往下顯現也可

@media (max-width: 767px) {
  .menu {
    height: calc(100vh - 50px);
    width: 80%;
    background-color: $sub_color;
    position: absolute;
    top: 50px;
    left: -150%;
    transition: 0.5s;

    display: inline !important;
    text-align: center;

    .link {
      display: inline !important;
      li {
        margin-right: 0 !important; //原本的右推取消
        margin-top: 20px;
      }
    }
  }
  .shop_push_up {
    margin-top: 30px; //漢堡選單 沒有往上推很醜
  }
}
// ---------------------------------------------------
// ---------------------------------------------------
// footer
.footer {
  z-index: 10;
  margin-top: 5rem;
  width: 100%;

  .top_bg {
    padding: 30px;
    background-color: $main_color;
  }

  .top_side {
    display: flex;
    align-items: center;
    // justify-content: space-around;

    @include pad {
      flex-wrap: wrap;
    }

    .top_leftzone {
      display: flex;
      width: 50%;
      align-items: center;
      justify-content: center;

      @include pad {
        width: 100%;
      }

      .footer_topimg {
        margin: 20px;
        width: 40px;
        height: 40px;
      }
      p {
        color: $sub_color;
        font-size: 24px;
        @include mobile {
          font-size: 16px;
        }
      }
    }

    .top_rightzone {
      display: flex;
      width: 380px;
      max-width: 50%;
      align-items: center;

      margin: 0 auto;

      @include pad {
        width: 100%;
        max-width: 70%;
      }

      @include mobile {
        max-width: 100%;
      }
      div {
        position: relative;
        background-color: $sub_color;
        min-width: 64px;
        height: 56px;

        img {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
        }
      }

      //input 模塊化
      .basic-slide {
        height: 56px;
        width: 80%;
        display: inline-block;
        // min-width: 250px;
        padding: 10px 0 10px 15px;
        font-family: "Open Sans", sans;
        font-weight: 400;
        color: #377d6a;
        background: $sub_color;
        border: 0;
        outline: 0;
        text-indent: 70px; // Arbitrary.
        transition: all 0.3s ease-in-out;

        &::-webkit-input-placeholder {
          color: #efefef;
          text-indent: 0;
          font-weight: 300;
        }
      }
      .basic-slide:focus,
      .basic-slide:active {
        color: #377d6a;
        text-indent: 0;
        background: #fff;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        &::-webkit-input-placeholder {
          color: #aaa;
        }
        + label {
          transform: translateX(-100%);
        }
      }
      .submit_btn {
        min-width: 64px;
        height: 56px;
        background-color: $yellow;
        border: none;
      }
    }
  }

  .bottom_side {
    height: 340px;
    width: 100%;
    background-color: $sub_color;
    // border: 1px solid blue;
  }
}

.up {
  height: 260px;
  // border: 1px solid red;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  @include layout_fix {
    justify-content: space-around;
  }

  .up_img {
    position: relative;
    // border: 1px solid purple;
    width: 50%;
    height: 100%;
    display: flex;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: left;

    img {
      // border: 1px solid purple;
      // position: absolute;
      // top: -50%;
      // right: 0;
      // bottom: 0;
      // left: 0;
      // margin: 0 auto; 上面有寫了整層的 align-items: center;

      width: 50%;
      height: auto;
    }

    .up_text {
      // border: 1px solid purple;
      // margin: 0 auto; 上面有寫了整層的 align-items: center;
      font-size: 16px;
      width: 50%;
      color: $main_color;
      font-weight: 600;
    }
  }

  .down_img {
    width: 60px;
    height: 220px;
  }
}

.down {
  height: 80px;
  // border: 1px solid blue;

  display: flex;
  justify-content: space-between;
  padding: 20px;

  color: $main_color;
  font-size: 16px;

  // div{
  //   width: 50%;
  // }

  div:first-child {
    height: 100%;
    width: 30%;
    //  border: 1px solid blue;
    //  padding: 20px;
    text-align: center;
    // margin: 0 auto;

    img {
      height: 32px;
      width: 32px;
    }
  }
}
